<div class="container-fluid">
    <div class="alert alert-danger" role="alert">
        <h1 class="display-6">
            <%= message %>
        </h1>
        <h2 class="display-2">
            <%= error.status %>
        </h2>
        <pre><%= error.stack %></pre>
    </div>
</div>
<%- include("./templates/footer") %>