<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/resume.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Resume -Form</title>
</head>

<body style="background-color: #6d8c84;">
    <div></div>
    <form>
        <div class="form__header">
            <h1>Build Your Resume</h1>
            <p>Click on the button below to create your own resume</p>
        </div>
        <div class="form-group" style="text-align: center;">
            <label>Click on this button to build your resume</label><br>
            <button><a href="/users/resume-2" style="text-decoration: none;">Create Your resume</a></button>
        </div>
    </form>
    <p>
        <br>
    <h1 style="color: #fff; padding:20px;">OR</h1>
    </p>
    <form>
        <div class="form__header">
            <h1>Upload Your Resume</h1><br>
            <p>Upload Your Own Resume here</p>
        </div>
        <div class="form-group">
            <label>Upload Your resume Here</label><br><br>
            <label for="resume" id="file-upload" class="custom">Upload Here <i class="fa fa-cloud-upload"></i></label>
            <input type="file" form="resume" id="resume" name="filename" id="file-upload">
        </div>
        <input type="submit" value="Upload Resume" id="upload-resume">
    </form>
</body>

</html>