<html>
<head>
    <script src="https://kit.fontawesome.com/577ae30e95.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/stylesheets/teacher/transfer-1.css" rel="stylesheet">
    <title>
        This is the 1st transfer page
    </title>
</head>
<body>
    <div class="div-1">
        <div class="title">
        <h2><b>Online Transfer Registration Guideline</b></h2>
    </div>
    <div class="main-button">        
            <button class="button" >Introduction</button>
            <button class="button" >Guidelines of
                transfer policy</button>
            <button class="button">Eligibility criteria for teachers to
                apply</button>
        </div>
        <div class="main-text">
            <div class="sub-title">
                <h2>Online Transfer Request Instructions</h2>
            </div>
            <br>
            <h4>1. Introduction</h4>
            <p>
                The online teacher transfer portal is developed with an objective to ensure the right allocation of
                teachers, in line with norms and in a fair & transparent manner. The portal will be used for voluntary
                transfer and the application process is 100% voluntary,
                open for elementary and secondary teachers. The portal provides a one of a kind opportunity to teachers
                to choose their preferred school, completely track the application progress in a transparent manner and
                also update his/her personal
                data in the database. New guidelines have been drafted in order to ensure that the transfers are taken
                up in a transparent and rational manner with utmost priority to public interest. The rest of the
                document provides a brief about the
                transfer process – guidelines, eligibility for teachers to apply under various categories, roles of
                different officers, etc. and also make available a step-by-step guide on how to use the portal for all
                the concerned officers.
            </p>
            <br>
            <h4>2. Guidelines of transfer policy</h4>
            <p> 2.1 Allotment of teacher category One of the most important feature of the transfer portal is that a
                teacher can only apply:
                <br>
                 1. With a teacher of their own category in case of mutual transfer, or<br> 2.
                Against a vacancy of their own category
                Each teacher has been given a unique teacher category. 
                 <br>
                 <br>
                  The table below shows the logic behind allotting
                a category to a teacher. Figure 1:Allotment of teacher category <br> 
               
                3 2.2 Eligibility criteria for teachers
                to apply On the basis of the
                transfer policy, teachers are eligible to apply for transfer under nine categories with restriction
                depending on the following criteria:<br> 1. Teacher cadre – Elementary / Secondary district cadre /
                Secondary state cadre <br>2. Teacher type –
                Regular / Contractual <br>3. Transfer type – Inter-district / Intra-district The eight categories under
                which a teacher can apply are: <br>1. Mutual Transfer<br> 2. Terminal Illness of self – under only one of the 8
                allowed categories<br> 3. Person with
                disabilities <br> 4. Widow / Widower <br> 5. Divorcee <br> 6. Working Couple (both in govt.) <br> 7. Spouse of Defence
                Personnel <br> 8. Normal Transfer – Male or Female teacher The chart below depicts various eligible
                categories under which a teacher can apply
                along with listing all the applicable restrictions under each category (A, B, C, D and E) are
                restrictions as explained below. <br>
                <br>
                 Figure 2: Elibility chart of teacher for application listing all
                constraints The green boxes show an eligible
                transfer category while the red boxes show the ineligible ones. Letters in the green boxes show
                additional conditions that need to be met.<br> These are: <BR> A. Atleast one year of service is required before
                a contractual teacher can apply for
                mutual transfer<br> B. Inter district transfer is allowed only once in a teachers career<br> C. The teacher
                should have completed at least 15 year of service (including contractual period)<br> D. The teacher must
                have completed 6 years of service
                in the present school<br> E. The teacher must be below 58 years of age.
            <BR>
            <h4>3. Teacher transfer process</h4>
            <P> The online teacher transfer is a five step process starting from a teacher applying on the portal and
                ending at generation of transfer order and relieving of the teacher. The step by step breakdown of the
                process is given in the image below.
                Figure 3: Online teacher transfer process Post application by the teacher, the file follows a dedicated
                process flow. The diagram below illustrates the file flow and the officer responsible for each step.
                Figure 4: Online teacher transfer
                process 5 Detailed instructions on how to use the teacher transfer portal are given below. </P>
            <h6>3.1 Step-1:</h6>
            <p>Applying for transfer <BR> 
                1. After entering Teacher Transfer Portal path on your computer browser, the screen
                displayed below will appear on your computer browser. <BR>
                     2. Click on Register Online for Transfer to
                continue  <BR>
                    3. After clicking on "Register
                online for transfer" the following screen will appear on your computer browser.Click on PROCEED to
                continue Click here Click Here   <BR>
                    4. Now,choose "Present School Type" i.e. Elementary / Secondary.Then
                select your District from "Select
                District of present school", your Block from "Select Block / ULB of present school", your School from
                "Select present school" and your Name from "Select teacher name".  <BR>
                    5. After that, all the information
                related to the concerned teacher
                will be shown automatically. <BR>
                     6. Then choose “Transfer Type” i.e. (Intra District / Inter District)on the
                following screen in the same page of portal. <BR>
                     7. Then choose the "Transfer Category" from "Eligibility
                Category" as per your eligibility.
                You will be asked to upload a verification document depending on the category chosen. Then upload a
                valid pdf document by clicking Choose file option (remember the file size has to be within 1 MB).  <BR>
                     8.
                Then fill your preference choice
                from the drop down list. You can select a maximum of 10 schools.  <BR>
                    9. You may check the box (it is not
                mandatory) for giving option to get transferred to any school of _______ block in case of intra district
                & ________ district in case of
                inter district transfers. <BR>
                     10. After filling the preference choices, fill the blank box by entering the
                CAPTCHA which is shown above the box and click on the "SUBMIT" button.  <BR>
                    11. After submission the screen
                shown below will appear:  <BR>
                    12.
                Here, you have to submit the OTP which will be sent to your mobile number.  <BR>
                    13. After entering the OTP,
                click on the VERIFY button to proceed further  <BR>
                    14. After successful OTP verification, the following
                screen will appear: Click here 
                    <BR> 15. Picture shown above is an Acknowledgement receipt for the applied teacher with the message "Your
                transfer request registration successful" (this image is only for representation).  <BR>
                    16. Note down the
                Application ID for future reference.
                <BR>17. Here, you can take a print out of the said Acknowledgement receipt. </p>
            <h6>3.2 Step-2:</h6>
            <p> Verifying teacher information Once a teacher has successfully applied for a transfer and generated an
                “Acknowledgement receipt”, the application will be forwarded to the concerned BEO/ DEO for verification
                and approval.</p>
            <h6>3.3 Teacher Dashboard:</h6>
            Let us now see how a teacher can enter into Teacher Dashboard by entering user ID, Password & OTP. <BR> 1. After
            entering Teacher Transfer Portal path on your computer browser the screen displayed on the left side will
            appear on your computer browser.  <BR>
                2. Then
            go to the Login section of the page  
                <BR>3. Put Teacher Application ID and password and click on the Log in
            button. <BR>
                 4. After submitting ID & Password the following screen will appear: <BR>
                     5. Here,by clicking on "Manage
            Application" the teacher can
            view :  Change password , Print Acknowledgement  <BR>
                6. By clicking "Change password" the following screen will
            appear:  <BR>
                7. By clicking "Application Status" the following screen will appear (here teacher can view
            application status like; Pending
            / Approval / Rejection)</P>
        </div>
    </div>
</body>
</html>