<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TRANFER CATEGORY</title>
    <link rel="stylesheet" href="/stylesheets/teacher/transfer-choices.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>

    <div class="main-container">
        <div class="group-one">
            <div class="one-row">
                <div class="main-title">
                    TRANFER CATEGORY
                </div>
                <div class="main-text">
                    <div class="left">
                        Mutual Transfer
                        <br>
                        Terminal Illness of self- under only one of the 8 allowed
                        categories
                        <br>

                        Person with disabilities
                        <br>

                        Widow / Widower
                        <br>

                        Divorcee
                        <br>

                        Working Couple (both in govt.)
                        <br>

                        Spouse of Defence Personnel
                        <br>

                        Normal Transfer - Male or Female teacher
                    </div>
                    <div class="right">
                        <input type="checkbox" class="tick">
                        <br>
                        <input type="checkbox" class="tick">
                        <br>
                        <input type="checkbox" class="tick">
                        <br>

                        <input type="checkbox" class="tick">
                        <br>
                        <input type="checkbox" class="tick">
                        <br>

                        <input type="checkbox" class="tick">
                        <br>

                        <input type="checkbox" class="tick">
                        <br>

                        <input type="checkbox" class="tick">
                    </div>
                </div>
                <div class="button">
                    <div class="button-a"> <button class="butt-a">Next</button></div>
                    <div class="button-b"> <button class="butt-b">Cancel</button></div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>