<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@300&display=swap');

        body {
            background: #f5f5f5;
        }




        #icon_img {
            border-radius: 30px;
        }
    </style>
</head>

<body>
    <div style="width:13%;height:100%;position:fixed;background:white;border-right:1px solid #f5f5f5;z-index:3;"
        id="navbar">

        <center><br><br>
            <img src="images/logo.svg" style="max-width:10vw;">
            <br><br><br><br>
            <span class="glyphicon glyphicon-envelope"
                style="font-size:min(1.2vw,1.5rem);color:black;font-family:'Poppins', sans-serif;border:none;border-radius:7px;float:left;margin-left:20%;  ;">&nbsp&nbsp&nbsp&nbspEmail</span><br><br>
            <font
                style="font-size:min(1.2vw,1.5rem);color:black;font-family:'Poppins', sans-serif;border:none;border-radius:7px;float:left;margin-left:20%;">
                <span class="glyphicon glyphicon-briefcase" id="send"></span>&nbsp&nbsp&nbsp&nbspTeachers
            </font><br><br>
            <font
                style="font-size:min(1vw,1.5rem);color:black;font-family:'Poppins', sans-serif;border:none;border-radius:7px;float:left;margin-left:20%;;">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp&nbsp&nbsp&nbspDepartments
            </font><br><br>
            <font
                style="font-size:min(1.2vw,1.5rem);color:black;font-family:'Poppins', sans-serif;border:none;border-radius:7px;float:left;margin-left:20%;;">
                <span class="glyphicon glyphicon-calendar"></span>&nbsp&nbsp&nbsp&nbspCalendar
            </font><br><br>

            <font
                style="font-size:min(1.2vw,1.5rem);color:black;font-family:'Poppins', sans-serif;border:none;border-radius:7px;float:left;margin-left:20%;;">
                <span class="	glyphicon glyphicon-log-out"></span>&nbsp&nbsp&nbsp&nbspLogout
            </font><br>
        </center>
    </div>
    <div style="position:absolute;left:13%;width:87%;height:93%;top:0%;" id="maindiv">
        <div class="navbar"
            style=" width: 97% ;height: 50px;background-color: #fff;border-radius: 10px;margin-left:1.5%; margin-top: 20px !important;overflow: hidden;background: rgba(255, 255, 255, 0.25);box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);backdrop-filter: blur(4px);-webkit-backdrop-filter: blur(4px);border-radius: 10px; border: 1px solid rgba(255, 255, 255, 0.18);">

            <div style="position: relative;left:0%;width:50%;">
                <a href="/client/email" style="color:black;font-size:min(2vw,2rem);padding-left:20px;"><i
                        class="glyphicon glyphicon-envelope"></i></a>


                <a href="client/calendar" style="color:black;font-size:min(2vw,2rem);padding-left:20px;"><i
                        class="glyphicon glyphicon-calendar"></i></a>

                <a href="client/todo" style="color:black;font-size:min(2vw,2rem);padding-left:20px;"><i
                        class="glyphicon glyphicon-check"></i></a>

                <a href="#" style="color:black;font-size:min(2vw,2rem);padding-left:20px;"><i
                        class="glyphicon glyphicon-bell"></i></a>
            </div>
            <div style="position: relative;left:40%;width:50%;">
                <i class="glyphicon glyphicon-adjust" id="theme"
                    style="color: black;font-size:min(2vw,2rem);padding-right:20px;"></i>

                <img src="images/pp.png" alt="pp" height="35px" width="35px" id="icon_img">
            </div>
        </div>
        <form>
            <span class="row" style="width:99%;">
                <span class="col-md-6">
                    <font
                        style="font-family:'poppins';font-size:min(2vw,4rem);color:#202020;font-weight:bold;margin-left:5%;">
                        Assign Tasks</font><br><br>

                    <input type="text" placeholder="Enter Title"
                        style="border:none;border-radius:5px;box-shadow:0 0 5px 3px lightgrey;width:90%;padding:10px;margin-left:5%;"><br><br>

                    <label style="font-family:'poppins';font-size:min(2vw,4rem);color:#202020;margin-left:5%;">Enter
                        Description</label><br><br>
                    <textarea
                        style="border:none;border-radius:5px;box-shadow:0 0 5px 3px lightgrey;width:90%;;margin-left:5%;height:300px;">
Description here...


</textarea>
                </span>
                <span class="col-md-6">

                    <font
                        style="font-family:'poppins';font-size:min(2vw,4rem);color:#202020;font-weight:bold;margin-left:5%;">
                        Assign To</font>
                    <font
                        style="font-family:'poppins';font-size:min(2vw,4rem);color:#202020;font-weight:bold;margin-left:5%;position:relative;"
                        id="duedatetxt">
                        Due Date</font><br><br>

                    <input type="text" placeholder="Enter Employee Id"
                        style="border:none;border-radius:5px;box-shadow:0 0 5px 3px lightgrey;width:40%;padding:10px;margin-left:5%;">



                    <input type="text" placeholder="Enter Due Date"
                        style="border:none;border-radius:5px;box-shadow:0 0 5px 3px lightgrey;width:40%;padding:10px;margin-left:5%;"
                        id="duedate"><br><br>


                    <label style="font-family:'poppins';font-size:min(2vw,4rem);color:#202020;margin-left:5%;">Teachers
                        List</label><br><br>


                    <div style="overflow:auto;height:300px;" id="teacherlistcont">
                        <div style="background:white;border-radius:7px;;color:#202020;font-family:'Poppins', sans-serif;width:100%;height:300px;"
                            id="container2">
                            <font
                                style="font-family:'Poppins', sans-serif;font-size:min(1.5vw,2.5rem);color:#202020;border:none;padding-left:1%;border-radius:7px;">
                                Teachers List</font>
                            <hr>
                            <br>
                            <table style="width:95%;margin-left:2.5%;" id="teacherlist">
                                <tr style="font-size:min(1vw,1.5rem)" id="teacherlistheading">

                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Email</th>
                                    <th>Class</th>
                                    <th>Subject</th>

                                    <th>Action</th>
                                </tr>
                                <tr>

                                    <td>
                                        <font style="font-size:min(1vw,1.5rem)">Danny Scoff</font>
                                    </td>
                                    <td>
                                        <font style="font-size:min(1vw,1.5rem)">Science</font>
                                    </td>
                                    <td>
                                        <font style="font-size:min(1vw,1.5rem)">DannyScoff@edurecruit.in</font>
                                    </td>
                                    <td>
                                        <font style="font-size:min(1vw,1.5rem)">12</font>
                                    </td>
                                    <td>
                                        <font style="font-size:min(1vw,1.5rem)">Biology</font>
                                    </td>

                                    <td>
                                        <font style="font-size:min(1vw,1.5rem)" class="glyphicon glyphicon-check">
                                        </font>
                                    </td>



                                </tr>


                            </table>
                        </div>
                    </div>
                </span>
            </span>
            <br><br>
            <center> <button type="submit"
                    style="border:none;background:#72A0C1;color:white;border-radius:5px;padding:10px;">Assign
                    Now</button>
            </center>

        </form>
    </div>
    <script>
        var duedatetxt = document.getElementById("duedatetxt");

        var duedate = document.getElementById("duedate");
        duedatetxt.style.left = duedate.offsetLeft - 200 + "px";



    </script>




</body>

</html>