<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login in</title>
    <link href="/stylesheets/teacher/login.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/577ae30e95.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <% if (typeof error !=='undefined' ) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
            <div class="main">
                <div class="main_row">

                    <!-- left col  -->
                    <div class="col_left">
                        <div class="left_cont">
                            <img src="/images/image 19.png">
                        </div>
                    </div>


                    <!-- right col  -->
                    <div class="col_right">
                        <div class="right_cont">
                            <div class="logo_cont">
                                <img src="/images/logo.png" width="247" height="280" class="logo">
                                <h5 class="logo_line">RECRUITMENT MADE SIMPLIFIED....</h5>
                            </div>
                            <form action="http://localhost:4000/admin/login" method="post">
                                <div class="right_text">
                                    <div class="right_text-box">
                                        <input type="text" name="email" class="right_box"
                                            placeholder="Enter your name or e-mail" required>
                                    </div>
                                    <div class="right_text-box">
                                        <input type="text" name="password" class="right_box" placeholder="   password"
                                            required>
                                    </div>
                                </div>
                                <div class="right_button">
                                    <button class="buton_bx" type="submit"> Login </button>
                                </div>
                            </form>
                            <div class="right-foot">
                                <a href="#" class="foot">
                                    <h6>Having trouble logging in? &nbsp; <i class="fa-solid fa-bell"></i></h6>
                                </a>
                                <a href="#" class="foot">
                                    <h6> Sign up</h6>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <%- include("../templates/footer") %>