<div style="width:13%;height:100%;position:fixed;background:white;border-right:1px solid #f5f5f5;z-index:3;"
    id="navbar">
    <center><br><br>
        <form action="http://localhost:3000/admin/email/all" method="get">
            <button type="submit" class="btn btn-primary">Email</button>
        </form>
        <br>
        <form action="http://localhost:3000/admin/teachers/all" method="get">
            <button type="submit" class="btn btn-primary">Teachers</button>
        </form>
        <br>
        <form action="http://localhost:3000/admin/email/all" method="get">
            <button type="submit" class="btn btn-primary">Email</button>
        </form>
        <br>
        <form action="http://localhost:3000/admin/email/all" method="get">
            <button type="submit" class="btn btn-primary">Email</button>
        </form>

    </center>
</div>