<div class="navbar">
  <div class="row-nav">
    <div class="nav-left">
      <div class="icons">
        <a href="/client/email"><i class="fa-xl fa-regular fa-envelope"></i></a>
      </div>
      <div class="icons">
        <a href="client/calendar"
          ><i class="fa-xl fa-regular fa-calendar"></i
        ></a>
      </div>
      <div class="icons">
        <a href="client/todo"
          ><i class="fa-xl fa-regular fa-square-check"></i
        ></a>
      </div>
    </div>
    <div class="nav-middle"></div>
    <div class="nav-right">
      <div class="icons">
        <a href="#"><i class="fa-xl fa-regular fa-bell"></i></a>
      </div>
      <div class="icons">
        <i class="fa-xl fa-regular fa-moon" id="theme" style="color: black"></i>
      </div>
      <div id="userName"><%= userName %></div>
      <div class="icons">
        <img src="images/pp.png" alt="pp" height="35px" width="35px" />
      </div>
    </div>
  </div>
</div>