<div class="col-sm-2 sidebar">
  <img src="/images/logo.png" width="180" height="180" class="logo" />
  <div class="dropdown">
    <div class="dropbtn">
      <h5 id="option_1">Dashboard</h5>
    </div>
  </div>

  <h6 id="APP">APPS AND PAGES</h6>
  <button class="icon_todo">
    <i class="fa-xl fa-regular fa-square-check"></i>
    <span class="nav-line"><a href="client/todo">Todo</a></span>
  </button>
  <button class="icon_todo">
    <i class="fa-xl fa-regular fa-envelope"></i>
    <span class="nav-line"><a href="client/email">email</a></span>
  </button>
  <button class="icon_todo">
    <i class="fa-regular fa-paper-plane"></i>
    <span class="nav-line"><a href="/client/transfer/guidelines">Transfer</a>
    </span>
  </button>
  <button class="icon_todo">
    <i class="fa-regular fa-calendar"></i>
    <span class="nav-line"><a href="/client/calendar">Calendar</a></span>
  </button>
  <button class="icon_todo">
    <i class="fa-regular fa-file"></i>
    <span class="nav-line"><a href="/client/study">Study Material</a></span>
  </button>
  <button class="icon_todo">
    <i class="fa-regular fa-image"></i>
    <span class="nav-line"><a href="/client/view-portfolio">View Portfolio</a>
    </span>
  </button>
</div>