@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

a {
  text-decoration: none !important;
  color: #000 !important;
}

.light {
  background-color: #f2f2f2 !important;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.dark {
  background-color: #1b1b1b !important;
}

.container-fluid {
  padding-right: 0px !important;
}

.navbar {
  width: 78%!important;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 185px !important;
  margin-top: 20px !important;
  overflow: hidden;
  position: fixed !important;
  top: 0;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.sidebar {
  width: 17.5%;
  background-color: #fff;
  height: 100%;
  margin-top: 20px !important;
  border-radius: 10px;
  overflow: hidden;
  top: 0;
  position: fixed;
}

.group {
  background-color: #fff;
  margin-top: 5px !important;
  border-radius: 10px;
  margin-top: 20px !important;
}

.one {
  height: 206px;
  margin-right: 10px !important;
}

.two {
  height: 130px;
  padding: 3px;
}

.three {
  height: 130px;
}

.four {
  height: 270px;
  background-color: #f4f7fe;
}

.five {
  height: 170px;
}

.six {
  height: 200px;
  width: 98%;
}


.seven {
  height: 250px;
  width: 97.7%;
}

.eight {
  height: 300px;
}

.nine {
  height: 350px;
  overflow: auto;
}

.ten {
  height: 350px;
  overflow: auto;
}
.eleven {
  height: 350px;
  overflow: auto;
}
t
.twelve {
  height: 350px;
  background-color: #000;
}
/* Main nav  */
.nav-middle {
  width: 61.1vw;
}

.stats {
  margin-top: 40px;
  margin-left: 140px;
  width: 90%;
}

.icons {
  padding: 7px;
  display: inline-block;
  color: #fff;
}

.right {
  text-align: right;
}

.icons img {
  border-radius: 30px;
}

#userName {
  display: inline;
}

.row-nav {
  display: flex;
}

/* Right nav  */
.logo {
  position: relative;
  margin-left: 1.5vw;
  margin-top: 1.5vw;
}

#option_1 {
  position: relative;
  margin-top: 1vw;
  width: 13vw;
}

.dash {
  position: relative;
  margin-top: 2vh;
  border: solid;
  width: 10vw;
  height: 12vh;
}

.dropbtn {
  background-color: whitesmoke;
  color: gray;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#APP {
  color: gray;
  padding: 16px;
}

.icon_todo {
  background-color: #fff;
  width: 13vw;
  padding: 16px;
  padding-right: 10px;
  /* font-size: 16px ; */
  border: none;
  font-weight: 200;
  text-align: left;
}

.nav-line {
  font-weight: 600;
}

/* group one  */
.one-row {
  display: flex;
  margin-left: 10px;
}

.Wel_text {
  font-weight: 400;
  font-size: 1.25rem;
  margin-top: 10px;
}

.Wel_text2 {
  font-size: 2.25rem;
  margin-left: 2px;
}

.one-col-b {
  margin-left: 135px;
}

.row-one-A {
  display: flex;
  gap: 20px;
  padding: 10px;
  position: relative;
  top: -25px;

}

.one-join {
  width: 220px;
  height: 40px;
  background-color: #e9eeff;
  padding: 6px;
}

.one-end {
  background-color: #e9f6ff;
  width: 220px;
  height: 40px;
  padding: 4px;
  padding-top: 6px;
  padding-bottom: 10px !important;
}

.one-line {
  font-weight: 600;
}

.date {
  color: #00cbff;
}

/* Group two  */
.two-line {
  margin-left: 5px;
  margin-top: 3px;
}

.two-img {
  position: relative;

  left: 52px;
}

.two-text-one {
  font-size: 0.8rem;
  position: relative;
  top: 7px;
  font-weight: 500;
}

.two-text-two {
  font-size: 1.75rem;
}

/* Group three */
.three-img {
  position: relative;
  top: -15px;
  left: 18px;

}
.three-line {
  margin-left: 5px;
  margin-top: 3px;
}

.three-text-one {
  font-size: 0.8rem;
  position: relative;
  top: 7px;
  font-weight: 500;
}

.three-text-two {
  font-size: 1.75rem;
}

/* Group Four  */
.four-title {
  margin-top: 10px;
  margin-left: 5px;
  padding: 1px;
}

.four-text {
  font-weight: 600;
}

.four-training {
  margin-left: 23px;
}

.four-training-cont {
  margin-top: 5px;
  /* border: solid 5px; */
  width: 410px;
  height: 60px;
  border-radius: 10px;
  background-color: #fff;
}

.four-training-text {
  display: flex;
  padding: 6px;
}

.four-left {
  height: 40px;
  width: 30px;
  padding: 5px;
  color: #7363ea;
}

.four-mid {
  width: 240px;
}

.four-mid-text {
  font-size: 0.75rem;
}

.four-right {
  height: 60px;
  margin-left: 20px;
  padding: 4px;
}

.four-right-text-a {
  font-size: 0.6rem;
  text-align: right;
}

.four-right-text-b {
  position: relative;
  top: -16px;
  font-size: 0.85rem;
  color: #7363ea;
  text-decoration: none;
}

/* Group five  */
.five-row-main {
  display: flex;
}

.five-col-a {
  padding: 7px;
}

.five-mid {
  margin-top: 15px;
}

.five-bottom {
  display: flex;
  font-size: small;
  margin-top: 25px;
}

.five-circle-a {
  height: 10px;
  width: 10px;

  border-radius: 20px;
  background-color: #ff1010;
  margin: 4px;
}

.five-circle-b {
  height: 10px;
  width: 10px;

  border-radius: 20px;
  background-color: #4cb242;
  margin: 4px;
}

.five-circle-c {
  height: 10px;
  width: 10px;
  margin: 4px;
  border-radius: 20px;
  background-color: #00cbff;
}

.six-link {
  text-decoration: none;
  color: #000;
}

.six-col-a {
  margin: 10px;
}

.six-col-b {
  display: flex;
  margin-top: 20px;
}
.six-line {
  font-size: xx-large;
  font-weight: 600;
}

.calender-date {
  width: 100px;
  margin-left: 10px;
}

.six-date {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
.six-day {
  font-size: 1.25rem;
  text-align: center;
}

.six-foot {
  padding-left: 48%;
  padding-top: 8px;
}

/* Group Seven  */

.seven-row-main {
  display: flex;
}

.seven-col-a {
  width: 200px;
}

.seven-col-c {
  width: 150px;
}

.seven-col-c {
  width: 200px;
}

.seven-mid-row-a {
  display: flex;
  gap: 50px;
  margin-top: 45px;
}

.seven-mid-row-b {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.seven-text-b {
  font-size: small;
  text-align: center;
}

.seven-square-a {
  height: 10px;
  width: 10px;
  background-color: #e0f6fd;
  margin: 4px;
}

.seven-square-b {
  height: 10px;
  width: 10px;
  background-color: #4f5373;
  margin: 4px;
}

.seven-square-c {
  height: 10px;
  width: 10px;
  background-color: #ff3a3a;
  margin: 4px;
}

.seven-mid-col-ba {
  width: 160px;
}

.seven-mid-col-ba-bottom {
  font-size: 0.75rem;
}

.seven-mid-col-ba-top-ax-text {
  text-align: center;
}

.seven-mid-col-ba-bottom-bx {
  font-size: 0.75rem;
  padding: 2px;
  margin-top: 16px;
}

.seven-mid-col-bc {
  font-size: 0.75rem;
  margin-top: 35px;
}

.seven-flex-a {
  display: flex;
  padding: 2px;
}

/* Eigth Group  */
.eight-main {
  padding: 15px;
}

.eight-title {
  margin: 5px;
  background-color: #f4f7fe;
  border-radius: 20px;
}

.eight-title-text {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}

.eight-button-a {
  margin: 20px;
  margin-left: 45px;
  margin-right: 45px;
  border: solid 1px;
  font-weight: 600;
  color: #7363ea;
  background-color: #fff;
  width: 240px;
}

.eight-button-b {
  margin: 20px;
  border: solid 1px;
  font-weight: 600;
  color: #7363ea;
  background-color: #fff;
  text-align: center;
  width: 240px;
  margin-left: 45px;
  margin-right: 45px;
}

.eight-button-c {
  margin: 20px;
  border: solid 1px;
  font-weight: 600;
  width: 240px;
  margin-left: 45px;
  margin-right: 45px;
  background-color: #ff3a3a;
  color: #fff;
}

/* next Group */

.daily-title {
  position: relative;
  top: -99px;
  left: 10px;
  font-weight: 600;
}

.Eight_row {
  display: flex;
  gap: 15px;
  font-weight: 600;
  font-size: 0.95rem;
}

.Eight_row2 {
  display: flex;
  gap: 15px;
  font-weight: 600;
  font-size: 0.95rem;
}

.Eight_Schedule {
  padding: 5px;
  margin: 10px;
  position: relative;
  top: -25px;
}

.Eight_col1 {
  height: 70px;
  width: 180px;
}

.Eight_col2 {
  height: 70px;
  width: 180px;
}

.Eight_col3 {
  height: 70px;
  width: 180px;
}

.Eight_col4 {
  height: 70px;
  width: 180px;
}

/* Nine Group */
.nine-second-main {
  margin-left: 40px;
}
.nine_Title {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 32px;
  /* margin-top: 15px; */
  padding-top: 15px;
}

#nine_Sub_title {
  margin-left: 32px;
  color: #7c7c7c;
  font-weight: 500;
}

.nine_row1 {
  display: flex;
}

.nine_column_1 {
  margin-left: 30px;
}

.nine_column_2 {
  margin-left: 50px;
}

.nine_row2 {
  display: flex;
}

.nine_col11 {
  background-color: #e1e3f0;
  font-weight: 600;
  font-size: 1rem;
  width: 107px;
  text-align: revert;
}

#supervisor {
  padding-top: 10px;
}

.nine_text1 {
  width: 20vw;
}

#nine_buton {
  margin-left: 30px;
  background-color: #1e22c5;
  color: #fff;
  border: none;
  /* width: 138px;
height: 53px; */
}

#nine_buton2 {
  border: none;
  /* width: 138px;
height: 53px; */
}

/* Eleven Group  */

.eleven-title {
  background-color: #dde7ff;
  width: 100%;
  height: 90px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.eleven-cont {
  display: flex;
  border-radius: 10px;
  border: solid 1px;
  font-weight: 600;
  margin-top: 10px;
}
.elven-col-a {
  font-size: 0.8rem;
  width: 74.5%;
}
.eleven-top {
  color: #7c7c7c;
}

.eleven-bottom {
  color: darkgoldenrod;
}

.eleven-mid {
  font-size: 0.9rem;
}
/* second  */

.eleven-top {
  color: #7c7c7c;
}

.eleven-bottom {
  color: darkgoldenrod;
}

.eleven-mid {
  font-size: 0.9rem;
}

/* third  */

.eleven-top {
  color: #7c7c7c;
}

.eleven-bottom {
  color: darkgoldenrod;
}

.eleven-mid {
  font-size: 0.9rem;
}
.eleven-ax-a {
  background-color: #baf3d8;
  color: #6ebe94;
}

.eleven-ax-b {
  background-color: #ffecec;
  color: #f0aaac;
}

.eleven-ax {
  background-color: #fcefd0;
  color: #e1bb67;
}
.eleven-col-b {
  font-size: small;
}
.eleven-bx {
  margin-top: 10px;
  padding-left: 45px;
}

.eleven-date {
  margin-top: 5px;
}

.eleven-bottom-cx {
  color: #7363ea;
}

.eleven-bottom-cz {
  color: darkgoldenrod;
}
/* foot  */

.rowFk {
  display: flex;
  font-size: 1.25rem;
}

.colFk {
  margin-left: 100px;
  color: #fff;
}

.foot {
  padding: 30px;
}
