<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<style>
    td {
        padding: 20px !important;
    }
</style>

<body>
    <h1 style="text-align: center; padding : 20px;">
        Recruitment Stats for year 2022-23
    </h1>
    <table class="table table-success table-striped">
        <th>
            Districts
        </th>
        <th>
            No. of Applicants
        </th>
        <th>
            No. of Recruited Teachers
        </th>
        <th>
            Vacancies
        </th>
        <th>
            Recruitment Percentage per district
        </th>
        <tr>
            <td>
                Balasore
            </td>
            <td>
                532
            </td>
            <td>
                112
            </td>
            <td>
                155
            </td>
            <td>
                77%
            </td>
        </tr>
        <tr>
            <td>
                Satara
            </td>
            <td>
                976
            </td>
            <td>
                141
            </td>
            <td>
                153
            </td>
            <td>
                63%
            </td>
        </tr>
        <tr>
            <td>
                Navi Mumbai
            </td>
            <td>
                143
            </td>
            <td>
                23
            </td>
            <td>
                30
            </td>
            <td>
                81%
            </td>
        </tr>
        <tr>
            <td>
                Balasore
            </td>
            <td>
                532
            </td>
            <td>
                112
            </td>
            <td>
                155
            </td>
            <td>
                77%
            </td>
        </tr>
        <tr>
            <td>
                Balasore
            </td>
            <td>
                532
            </td>
            <td>
                112
            </td>
            <td>
                155
            </td>
            <td>
                77%
            </td>
        </tr>
        <tr>
            <td>
                Balasore
            </td>
            <td>
                532
            </td>
            <td>
                112
            </td>
            <td>
                155
            </td>
            <td>
                77%
            </td>
        </tr>
        <tr>
            <td>
                Balasore
            </td>
            <td>
                532
            </td>
            <td>
                112
            </td>
            <td>
                155
            </td>
            <td>
                77%
            </td>
        </tr>
        <tr>
            <td>
                Balasore
            </td>
            <td>
                532
            </td>
            <td>
                112
            </td>
            <td>
                155
            </td>
            <td>
                77%
            </td>
        </tr>
        <tr>
            <td>
                Balasore
            </td>
            <td>
                532
            </td>
            <td>
                112
            </td>
            <td>
                155
            </td>
            <td>
                77%
            </td>
        </tr>
        <tr>
            <td>
                Balasore
            </td>
            <td>
                532
            </td>
            <td>
                112
            </td>
            <td>
                155
            </td>
            <td>
                77%
            </td>
        </tr>
        <tr>
            <td>
                Balasore
            </td>
            <td>
                532
            </td>
            <td>
                112
            </td>
            <td>
                155
            </td>
            <td>
                77%
            </td>
        </tr>
        <tr>
            <td>
                Balasore
            </td>
            <td>
                532
            </td>
            <td>
                112
            </td>
            <td>
                155
            </td>
            <td>
                77%
            </td>
        </tr>
        <tr>
            <td>
                Balasore
            </td>
            <td>
                532
            </td>
            <td>
                112
            </td>
            <td>
                155
            </td>
            <td>
                77%
            </td>
        </tr>
        <tr>
            <td>
                Balasore
            </td>
            <td>
                532
            </td>
            <td>
                112
            </td>
            <td>
                155
            </td>
            <td>
                77%
            </td>
        </tr>
    </table>
</body>

</html>