<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #7A97FF;">
    <div class="container-fluid" style="background-color: #fff; height:100%; width : 100%;">
        <div class="row">
            <div class="group" style="width: 80% !important; height : 700px"></div>
        </div>
    </div>
</body>
</html>