<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Detail Analysis of Teacher </title>
    <link rel="stylesheet" href="/stylesheets/attendance.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>

    <div class="main">
        <div class="title">

            Detail Analysis of Teacher
        </div>
        <div class="top">
            <div class="left">
                <div id="chart" style="width:100% !important">

                    <script>
                        var options = {


                            series: [54, 20, 26],

                            chart: {
                                type: 'donut',

                            },
                            stroke: {
                                show: false,
                                width: 0
                            },
                            legend: {
                                show: false
                            },
                            colors: ['#002244', '#ff0038', '#e0f6fd'],
                            responsive: [{
                                breakpoint: "100%",
                                options: {
                                    chart: {
                                        width: "50%"
                                    },

                                }
                            }]
                        };

                        var chart = new ApexCharts(document.querySelector("#chart"), options);
                        chart.render();
                    </script>

                </div>
            </div>
            <div class="right">
                <div class="seven-col-b">
                    <div class="seven-mid-row-a">
                        <div class="seven-mid-col-aa">
                            <h5 class="seven-text-a">2431</h5>
                            <p class="seven-text-b">18-15</p>
                        </div>
                        <div class="seven-mid-col-ab">
                            <h5 class="seven-text-a">892</h5>
                            <p class="seven-text-b">36-55</p>
                        </div>
                        <div class="seven-mid-col-ac">
                            <h5 class="seven-text-a">209</h5>
                            <p class="seven-text-b">55</p>
                        </div>
                    </div>
                    <div class="seven-mid-row-b">
                        <div class="seven-mid-col-ba">
                            <div class="seven-mid-col-ba-top">
                                <h6>Course</h6>
                            </div>
                            <div class="seven-mid-col-ba-bottom">
                                <div class="seven-flex-a">
                                    <div class="seven-square-a"></div>
                                    <div class="Marketing">Days Attented</div>
                                </div>
                                <div class="seven-flex-a">
                                    <div class="seven-square-b"></div>
                                    <div class="facebook">Paid </div>
                                </div>
                                <div class="seven-flex-a">
                                    <div class="seven-square-c"></div>
                                    <div class="google">
                                        Unpaid
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="seven-mid-col-bb">
                            <div class="seven-mid-col-ba-top-ax">
                                <h6 class="seven-mid-col-ba-top-ax-text">
                                    changes
                                </h6>
                            </div>
                            <div class="seven-mid-col-ba-bottom-bx">
                                <div class="seven-bottom-mid-a">
                                    64%
                                    <i class="fa-solid fa-arrow-right"></i> 90%
                                </div>
                                <div class="seven-bottom-mid-a">
                                    51%
                                    <i class="fa-solid fa-arrow-right"></i> 94%
                                </div>
                                <div class="seven-bottom-mid-a">
                                    70%
                                    <i class="fa-solid fa-arrow-right"></i> 50%
                                </div>
                            </div>
                        </div>
                        <div class="seven-mid-col-bc">
                            <div class="seven-mid-col-bc-text-a">26%</div>
                            <div class="seven-mid-col-bc-text-b">54%</div>
                            <div class="seven-mid-col-bc-text-c">20%</div>
                        </div>
                    </div>
                </div>
                <br>


                <hr>
            </div>

        </div>

        <div class="research">
            <h2 class="text-title">
                Dr. Meena Anand</h2>
            <h5 class="sub-head"> Assistant Professor & Head, Computer Science</h5>
            <br>
            <span style="font-size: 1.25rem ;"> PUBLICATIONS </span> <br>
            <br>
            1) ARTICLES / RESEARCH PAPERS: <br>
            Anand, Neetu et.al (Jan-Jun 2021): Effect of Covid-19 on the E-Commerce Industry By Maharaja Surajmal
            Institute, Parichay: Maharaja Surajmal Institute Journal of Applied Research, Vol. 4, No. 1, P. 30-32,
            ISSN No. (P) 2581-7515, National, (https://www.msijr.msi-ggsip.org/pdf/MSIJAR_VOL04_ISSUE01.pdf).
            Anand, Neetu et.al (Mar-20): Tracking the Client Internet Usage Data for Behavioral Analysis By IJITEE,
            International Journal of Innovative Technology and Exploring Engineering (IJITEE), Vol. 9, No. 5, P.
            2383-2387, ISSN No. (P) 2278-3075, International,
            Anand, Neetu et.al (Jan-June 2019): Identify the Proportion of Benefitted Users from Eazy_Buzy Life App
            Based on Survey By Maharaja Surajmal Institute, Parichay: Maharaja Surajmal Institute Journal of Applied
            Research, Vol-2, Issue-1, P.15-19, ISSN No. (P) 2581-7515, National,
            (http://www.msijr.msi-ggsip.org/pdf/MSIJAR_VOL02_ISSUE01.pdf).
            Anand, Neetu et.al (Nov-Dec 2017): Eazy_buzy life–An Android Application For Working Women By IJSRCSEIT,
            International Journal of Scientific Research In Computer Science, Engineering and Information
            Technology, Volume 2 , Issue 6, P.992-995, ISSN No. (P) 2456-3307, International, (www.ijarmate.com).
            Anand, Neetu et.al (Nov-17): Working Women: Challenges And Risks, International Journal of Recent
            Scientific Research, vol. 8, issue 11, P.21370-21373, ISSN No. (P) 0976-3031, International,
            (www.ijsrcseit.com).
            Anand, Neetu et.al (Nov-17): A Study On Problem And Challenges of Working Women, Global Journal Of
            Engineering Science & Researches, Vol. 4, Issue 12, P.89-95, ISSN No. (P) 2348-8034, International,
            (www.recentscientific.com).
            Anand, Neetu et.al (Dec-17): Design And Development of Mobile App For Working Women – An Opportunity For
            Work- Life Balance By IJSART, International Journal For Science And Advance Research In Technology,
            Volume 3 Issue 12 , P.868-871, ISSN No. (P) 2395-1052, International, (www.gjesr.com).
            Anand, Neetu et.al (2017): Working Woman's Problems And Challenges-A Survey By IJSRST, International
            Journal of scientific Research in Science and Technology, Volume 3, Issue 8, P.1301-1307, ISSN No. (P)
            2395-6011, ISSN No. (O) 2395-602X, International, (www.ijsart.com).
            Anand, Neetu et.al (2017): Smart Home Automation Using Arduino Uno Microcontroller By IJSSRCSEIT,
            International Journal of Scientific Research In Computer Science, Engineering And Information
            Technology, Volume 2,Issue 6, P.364-366, ISSN No. (P) 2456-3307 , International, (www.ijsrst.com).
            Anand, Neetu et.al (Jan-18): A Study of Software Testing Process In Agile Development , International
            Journal For Science And Advance Research In Technology, Volume 4, Issue 1, P.192-195, ISSN No. (P)
            2395-1052, International, (www.ijsrcseit.com).
            Anand, Neetu et.al (April,2018): Voice Controlled Home Automation System: Raspberry Pi By IJRCS,
            International journal of research culture society, volume - 2, issue - 4, P.1-5, ISSN No. (P) 2456-6683,
            International, (www.ijsart.com).
            Anand, Neetu et.al (May,2018): Design and implementation of password manager for web browser By IJTIMES,
            International journal of technical innovation in modern engineering and science(IJTIMES), Volume 4,
            Issue 5, P.430-432, ISSN No. (P) 2455-2585 , International, (www.ijrcs.org).
            Anand, Neetu et.al (Jan-June 2019): Identify the Proportion of Benefitted Users from Eazy_Buzy Life App
            Based on Survey By Maharaja Surajmal Institute, Parichay: Maharaja Surajmal Institute Journal ofApplied
            Research, Vol-2, Issue-1, P.15-19, ISSN No. (O) 2581-7515, National,
            (http://www.msijr.msi-ggsip.org/pdf/MSIJAR_VOL02_ISSUE01.pdf).
            Anand, Neetu et.al (May,2018): Design and implementation of password manager for web browser By IJTIMES,
            International journal of technical innovation in modern engineering and science(IJTIMES), Volume 4,
            Issue 5, P.430-432, ISSN No. (O) 2455-2585, UGC approved, Peer reviewed, International, (Impact factor
            3.45), (www.ijtimes.com).
            Anand, Neetu et.al (April,2018): Voice Controlled Home Automation System: Raspberry Pi By IJRCS,
            International journal of research culture society, volume - 2, issue - 4, P.1-5, ISSN No. (P) 2456-6683,
            UGC approved, Peer reviewed, International, (Impact factor 3.449), (www.ijrcs.org).
            Anand, Neetu et.al (Jan-18): A Study of Software Testing Process In Agile Development, International
            Journal For Science And Advance Research In Technology, Volume 4, Issue 1, P.192-195, ISSN No. (O)
            2395-1052, UGC approved, Peer reviewed, International, (www.ijsart.com).
            Anand, Neetu et.al (2017): Smart Home Automation Using Arduino Uno Microcontroller By IJSSRCSEIT,
            International Journal of Scientific Research In Computer Science, Engineering And Information
            Technology, Volume 2,Issue 6, P.364-366, ISSN No. (P) 2456-3307, UGC approved, Peer reviewed,
            International, (www.ijsrcseit.com).
            Anand, Neetu et.al (2017): Working Woman's Problems And Challenges-A Survey By IJSRST, International
            Journal of scientific Research in Science and Technology, Volume 3, Issue 8, P.1301-1307, ISSN No. (P)
            2395-6011, ISSN No. (O) 2395-602X, UGC approved, Peer reviewed, International, (www.ijsrst.com).
            Anand, Neetu et.al (Dec-17): Design And Development of Mobile App For Working Women – An Opportunity For
            Work- Life Balance By IJSART, International Journal For Science And Advance Research In Technology,
            Volume 3 Issue 12, P.868-871, ISSN No. (P) 2395-1052, UGC approved, Peer reviewed, International,
            (Impact factor 5.388), (www.ijsart.com).
            Anand, Neetu et.al (Nov-17): A Study On Problem And Challenges of Working Women, Global Journal Of
            Engineering Science & Researches, Vol. 4, Issue 12, P.89-95, ISSN No. (P) 2348-8034, UGC approved, Peer
            reviewed, International, (Impact factor 4.022), (www.gjesr.com).
            Anand, Neetu et.al (Nov-17): Working Women: Challenges And Risks, International Journal of Recent
            Scientific Research, vol. 8, issue 11, P.21370-21373, ISSN No. (P) 0976-3031, UGC approved, Peer
            reviewed, International, (www.recentscientific.com).
            Anand, Neetu et.al (Nov-Dec 2017): Eazy_buzy life–An Android Application For Working Women By IJSRCSEIT,
            International Journal of Scientific Research In Computer Science, Engineering and Information
            Technology, Volume 2 , Issue 6, P.992-995, ISSN No. (P) 2456-3307, UGC approved, Peer reviewed,
            International, (www.ijsrcseit.com).
            2) PARTICIPATION IN SEMINARS/ CONFERENCE/ WORKSHOPS/SDP:
            National Conference on Paradigm Shift From Developing to Developed India Through Digitalization
            organized by Maharaja Surajmal Institute, New Delhi on A Client Side Mining Model for Extracting User
            Behaviour published by Excellent Publishing House, New Delhi in 2017, P.84-86, ISBN No.
            978-93-86238-24-5.
            Proceedings of National Conference On India’s Yes to Mega Reforms: Issues, Challenges and Implications
            (Future of work & 4th Industrial Revolution) held at Maharaja Surajmal Institute, Janakpuri on 23.2.19
            on Fourth Industrial Revolution: Challenges and Impact published by Excellent Publishing House, New
            Delhi in 2019, P.50-54, ISBN No. 978-93-86238-67-2.
            Quality Assurance in Higher Education: Practices and Issues on Fitness App-Personalized Mobile App for
            Health and Fitness published by Excellent Publishing House, New Delhi in May 2019, 99-102, ISBN No.
            978-93-86238-72-18.
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>