<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/teacher/dashboard.css">
    <script src="https://kit.fontawesome.com/577ae30e95.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>EduRecruit - Manage Your Data Here - Teacher Management System of Government Of Maharashtra</title>
</head>
<body class="light">
    <div class="container-fluid">
        <div class="row" id="content_row">
            <%- include('../templates/sidebar.ejs') %>
            <div class="col-sm-10 stats">
                <div class="container-fluid">
                    <div class="row">
                        <%- include('../templates/navbar.ejs') %>
                    </div>
                    <div class="main-cont stats">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="group one" id="div1">
                                            <div class="one-row">
                                                <div class="one-col-a">
                                                    <p class="Wel_text">Department</p>
                                                    <p class="Wel_text2"><%= department  %> Wing</p>
                                                </div>
                                                <div class="one-col-b">
                                                    <img src="images/image 9.png" alt="" width="89" height="150"
                                                        class="medal">
                                                </div>
                                            </div>
                                            <div class="row-one-A">
                                                <div class="one-join">
                                                    <h6 class="one-line">
                                                        JOINED FROM <span class="date"> JULY ,2022</span>
                                                    </h6>
                                                </div>
                                                <div class="one-end">
                                                    <h6 class="one-line">
                                                        END OF TENURE <span class="date"> DEC,2029</span>
                                                    </h6>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="group two" id="div2">
                                                <div class="two-line">

                                                    <h6 class="two-text-one">Service span</h6>
                                                    <h6 class="two-text-two">2.5Years</h6>
                                                    <img src="images/Group 2.png" width="150" height="55"
                                                        class="two-img">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="group three" id="div3">
                                                <div class="three-line">
                                                    <h6 class="three-text-one">Current salary</h6>
                                                    <h6 class="three-text-two">43k</h6>
                                                    <img src="images/Group 1.png" class="three-img" width="180">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="group four" id="div4">
                                            
                                            <div class="four-title">
                                                <h4 class="four-text"><a href="/client/trainings">UPCOMING TRAININGS</a></h4>
                                            </div>
                                            <div class="four-training">
                                                <div class="four-training-cont" id="training1">

                                                    <div class="four-training-text">
                                                        <div class="four-left">
                                                            <i class="fa-solid fa-file-lines"></i>

                                                        </div>
                                                        <div class="four-mid">
                                                            <h6 class="four-mid-title">Technical law</h6>
                                                            <p class="four-mid-text">17 October 2021 . View 17 people
                                                            </p>
                                                        </div>
                                                        <div class="four-right">
                                                            <p class="four-right-text-a">attend</p>
                                                            <a href="#">
                                                                <p class="four-right-text-b">view cources
                                                                    <i class="fa-solid fa-angle-right"></i>
                                                                </p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="four-training-cont" id="training2">
                                                    <div class="four-training-text">
                                                        <div class="four-left">
                                                            <i class="fa-solid fa-square-poll-vertical"></i>

                                                        </div>
                                                        <div class="four-mid">
                                                            <h6 class="four-mid-title">Marketing</h6>
                                                            <p class="four-mid-text">22 September 2021 . View 24 people
                                                            </p>
                                                        </div>
                                                        <div class="four-right">
                                                            <p class="four-right-text-a">.</p>
                                                            <a href="#">
                                                                <p class="four-right-text-b"> view cources <i
                                                                        class="fa-solid fa-angle-right"></i></p>
                                                            </a>
                                                        </div>



                                                    </div>
                                                </div>
                                                <div class="four-training-cont" id="training3">
                                                    <div class="four-training-text">
                                                        <div class="four-left">
                                                            <i class="fa-solid fa-flask-vial"></i>

                                                        </div>
                                                        <div class="four-mid">
                                                            <h6 class="four-mid-title">Chemistry and its Element</h6>
                                                            <p class="four-mid-text">25 September 2021 . View 8 people
                                                            </p>
                                                        </div>
                                                        <div class="four-right">
                                                            <p class="four-right-text-a">.</p>
                                                            <a href="#">
                                                                <p class="four-right-text-b"> view cources <i
                                                                        class="fa-solid fa-angle-right"></i></p>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="group five" id="div5">
                                            <div class="five-row-main">
                                                <div class="five-col-a">
                                                    <div class="five-top">
                                                        <h4> PROMOTION CREDITS </h4>
                                                    </div>
                                                    <div class="five-mid">
                                                        <p>apply for qualification<br>
                                                            exam</p>
                                                    </div>
                                                    <div class="five-bottom">
                                                        <div class="five-circle-a"></div> experience
                                                        <div class="five-circle-b"></div> qualification
                                                        <div class="five-circle-c"></div>good practices
                                                    </div>
                                                </div>
                                                <div class="five-col-b" id="five-circle">
                                                    <script>var options = {
                                                            series: [44, 55, 41, 17, 15],
                                                            chart: {
                                                                type: 'donut',
                                                            },
                                                            legend: {
                                                                show: false
                                                            },
                                                            responsive: [{
                                                                breakpoint: 480,
                                                                options: {
                                                                    chart: {
                                                                        width: 200
                                                                    },

                                                                }
                                                            }]
                                                        };

                                                        var chart = new ApexCharts(document.querySelector("#five-circle"), options);
                                                        chart.render();</script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="group six" id="div6">
                                            <div class="six-row" id="calender">
                                                <div class="six-col-a">
                                                    <div class="six-line">Yearly
                                                        planner</div>
                                                </div>
                                                <a href="client/calendar" class="six-link">
                                                    <div class="six-col-b" id="calender_dt">
                                                        <div class="calender-date">
                                                            <div class="six-date"> 1</div>
                                                            <div class="six-day">Mon</div>
                                                        </div>
                                                        <div class="calender-date">
                                                            <div class="six-date"> 2</div>
                                                            <div class="six-day">Tue</div>
                                                        </div>
                                                        <div class="calender-date">
                                                            <div class="six-date"> 3</div>
                                                            <div class="six-day">Wed</div>
                                                        </div>
                                                        <div class="calender-date">
                                                            <div class="six-date"> 4</div>
                                                            <div class="six-day">Thu</div>
                                                        </div>
                                                        <div class="calender-date">
                                                            <div class="six-date"> 5</div>
                                                            <div class="six-day">Fri</div>
                                                        </div>
                                                        <div class="calender-date">
                                                            <div class="six-date"> 6</div>
                                                            <div class="six-day">Sat</div>
                                                        </div>
                                                        <div class="calender-date">
                                                            <div class="six-date"> 7</div>
                                                            <div class="six-day">Sun</div>
                                                        </div>
                                                        <div class="calender-date">
                                                            <div class="six-date"> 8</div>
                                                            <div class="six-day">Mon</div>
                                                        </div>
                                                        <div class="calender-date">
                                                            <div class="six-date"> 9</div>
                                                            <div class="six-day">Tue</div>
                                                        </div>
                                                        <div class="calender-date">
                                                            <div class="six-date"> 10</div>
                                                            <div class="six-day">Wed</div>
                                                        </div>
                                                    </div>
                                                    <div class="six-foot"><i class="fa-solid fa-chevron-down"></i></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="group seven" id="div7">
                                            <div class="seven-row-main">
                                                <div class="seven-col-a">

                                                    <div style="height:70%;width:100%;background:white;margin-top:20%;display:flex;"
                                                        id="attendencegraph">
                                                        <div
                                                            style="height:100%;width:4%;background:#aed8f0;border-radius:10px;margin-left:30%;">
                                                            <div
                                                                style="height:60%;width:100%;background:lightgrey;border-top-right-radius:10px;border-top-left-radius:10px;position:relative;bottom:0;">
                                                            </div>


                                                        </div>

                                                        <div
                                                            style="height:100%;width:4%;background:#4d5c96;border-radius:10px;margin-left:15%;">
                                                            <div
                                                                style="height:60%;width:100%;background:lightgrey;border-top-right-radius:10px;border-top-left-radius:10px;position:relative;bottom:0;">
                                                            </div>

                                                        </div>


                                                        <div
                                                            style="height:100%;width:4%;background:#f7726f;border-radius:10px;margin-left:15%;">

                                                            <div
                                                                style="height:60%;width:100%;background:lightgrey;border-top-right-radius:10px;border-top-left-radius:10px;position:relative;bottom:0;">
                                                            </div>
                                                        </div>


                                                    </div>


                                                </div>



                                                <div class="seven-col-b">
                                                    <div class="seven-mid-row-a">
                                                        <div class="seven-mid-col-aa">
                                                            <h5 class="seven-text-a">2431</h5>
                                                            <p class="seven-text-b">18-15</p>
                                                        </div>
                                                        <div class="seven-mid-col-ab">
                                                            <h5 class="seven-text-a">892</h5>
                                                            <p class="seven-text-b">36-55</p>
                                                        </div>
                                                        <div class="seven-mid-col-ac">
                                                            <h5 class="seven-text-a">209</h5>
                                                            <p class="seven-text-b">55</p>
                                                        </div>
                                                    </div>
                                                    <div class="seven-mid-row-b">
                                                        <div class="seven-mid-col-ba">
                                                            <div class="seven-mid-col-ba-top">
                                                                <h6>Cource</h6>
                                                            </div>
                                                            <div class="seven-mid-col-ba-bottom">
                                                                <div class="seven-flex-a">
                                                                    <div class="seven-square-a"></div>
                                                                    <div class="Marketing">Marketing</div>
                                                                </div>
                                                                <div class="seven-flex-a">
                                                                    <div class="seven-square-b"></div>
                                                                    <div class="facebook">Facebook
                                                                        Ads</div>
                                                                </div>
                                                                <div class="seven-flex-a">
                                                                    <div class="seven-square-c"></div>
                                                                    <div class="google"> Google Ads
                                                                        Beginning</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="seven-mid-col-bb">
                                                            <div class="seven-mid-col-ba-top-ax">
                                                                <h6 class="seven-mid-col-ba-top-ax-text">changes</h6>
                                                            </div>
                                                            <div class="seven-mid-col-ba-bottom-bx">
                                                                <div class="seven-bottom-mid-a"> 64% <i
                                                                        class="fa-solid fa-arrow-right"></i> 94%</div>
                                                                <div class="seven-bottom-mid-a"> 51% <i
                                                                        class="fa-solid fa-arrow-right"></i> 42% </div>
                                                                <div class="seven-bottom-mid-a"> 70% <i
                                                                        class="fa-solid fa-arrow-right"></i> 73% </div>
                                                            </div>
                                                        </div>
                                                        <div class="seven-mid-col-bc">
                                                            <div class="seven-mid-col-bc-text-a">30%</div>
                                                            <div class="seven-mid-col-bc-text-b">9%</div>
                                                            <div class="seven-mid-col-bc-text-c">3%</div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="seven-col-c"> <img src="images/line.jpg"></div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="group eight" id="div8">
                                                <div class="eigth-main">
                                                    <div class="eight-title" id="transfer_title">
                                                        <p class="eight-title-text">
                                                            TEACHER’S TRANFER REQUEST
                                                            PORTAL</p>
                                                    </div>
                                                    <button class="eight-button-a" id="transferbt1">NOTIFICATIONS <i
                                                            class="fa-regular fa-bell"></i></button><br>
                                                    <button class="eight-button-b" id="transferbt2">CHECK ELIGIBILITY <i
                                                            class="fa-regular fa-file"></i></button><br>
                                                    <button class="eight-button-c" id="transferbt3">REGISTER FOR
                                                        TRANSFER <i class="fa-regular fa-paper-plane"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="group eight" id="div9">
                                                <img src="images/image 43.png" alt="" style="width:100%;height:30%;">
                                                <h4 class="daily-title">DAILY SCHEDULE</h4>
                                                <div class="Eight_Schedule">
                                                    <div class="Eight_row">
                                                        <div class="Eight_col1">
                                                            <p class="Eight_time1">8:30 AM <i
                                                                    class="fa-solid fa-turn-down"></i>
                                                            </p>
                                                            <p class="Eight_time2">Reporting timings</p>
                                                        </div>

                                                        <div class="Eight_col2">
                                                            <p class="Eight_time1">45 M <i
                                                                    class="fa-solid fa-mug-hot"></i>
                                                            </p>
                                                            <p class="Eight_time2">Break Time</p>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="Eight_row2">
                                                        <div class="Eight_col3">
                                                            <p class="Eight_time1">4h 50m <i
                                                                    class="fa-solid fa-briefcase"></i>
                                                            </p>
                                                            <p class="Eight_time2">Working hours</p>
                                                        </div>


                                                        <div class="Eight_col4">
                                                            <p class="Eight_time1">4/days <i
                                                                    class="fa-solid fa-arrow-right"></i> </p>
                                                            <p class="Eight_time2">leatures per day</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <%-  include('./leave.ejs')  %>
                                <form action="/client/leaves" method="post">
                                    <div class="group nine" id="div10">
                                        <h6 class="nine_Title"> Apply for leaves </h6>
                                        <p id="nine_Sub_title"> You have <span style="color: #7363EA ;">7.5 and 1
                                                optional</span> leave for this month </p>
                                        <br>
                                        <div class="nine-second-main">
                                            <div class="nine_row1">
                                                <div class="Seven_column_1">
                                                    <div class="radio-nine-cont-1">
                                                        <h6 id="nine_col1">LEAVE TYPE</h6>
                                                        <label class="label-radio3" for="radio1">
                                                            <input class="input-radio3" id="radio1" type="radio"
                                                                name="leave_type" value="say-hi" checked="checked">
                                                            LEAVE
                                                        </label>
                                                        <label class="label-radio3" for="radio2"></label>
                                                        <input class="input-radio3" id="radio2" type="radio"
                                                            name="leave_type" value="get-quote">
                                                        OPTIONAL
                                                    </div>
                                                    <br>
                                                    <h6> FROM</h6>
                                                    <input type="date" name="Start date" placeholder="Select Date Start"
                                                        required>

                                                </div>
                                                <div class="nine_column_2">
                                                    <div class="radio-nine-cont-2">
                                                        <h6 id="nine_col1"> DAY TYPE</h6>
                                                        <label class="label-radio" for="radio1">
                                                            <input class="input-radio3" id="radio1" type="radio"
                                                                name="choice" value="say-hi" checked="checked">
                                                            FULL
                                                        </label>&nbsp;
                                                        <label class="label-radio" for="radio2">
                                                            <input class="input-radio3" id="radio2" type="radio"
                                                                name="choice" value="get-quote">
                                                            FIRST HALF
                                                        </label>&nbsp;
                                                        <label class="label-radio" for="radio3">
                                                            <input class="input-radio3" id="radio3" type="radio"
                                                                name="choice" value="get-quote">
                                                            SECOND HALF
                                                        </label>
                                                    </div>
                                                    <br>

                                                    <h6> TO</h6>
                                                    <input type="date" name="Start date" placeholder="Select End Date "
                                                        required>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="nine_inform">
                                                <h6>I want to inform</h6>
                                                <div class="nine_row2">
                                                    <div class="nine_col11">Department <br>
                                                        Supervisor</div>
                                                    <div class="nine_col12">
                                                        <input type="text" name="Department" placeholder=" Primary "
                                                            class="nine_text1" required><br>
                                                        <input type="text" name="Supervisor"
                                                            placeholder="Type your supervisor's name" class="nine_text1"
                                                            required>
                                                    </div>
                                                </div>
                                                <br>
                                                <h6>Reason</h6>
                                                <textarea name="" id="" cols="52" rows="3"
                                                    placeholder="Type your reason here"></textarea>
                                            </div>
                                            <br>
                                            <button id="nine_buton">Apply Leave</button> &nbsp;
                                            <button id="nine_buton2">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            <div class="col-sm-3">
                                <div class="group eleven" id="application">
                                    <div class="eleven-title">YOUR APPLICATIONS</div>

                                    <div class="eleven-main" id="div12">
                                        <div class="eleven-cont">
                                            <div class="elven-col-a">
                                                <div class="eleven-top">Half day Application</div>
                                                <div class="eleven-mid">Wed,16 Dec</div>
                                                <div class="eleven-bottom"> Casual</div>
                                            </div>
                                            <div class="eleven-col-b">
                                                <div class="eleven-ax">
                                                    Awaiting
                                                </div>
                                                <div class="eleven-bx"><i class="fa-solid fa-chevron-right"></i></div>
                                            </div>
                                        </div>

                                        <div class="eleven-date"> November 2022</div>

                                        <div class="eleven-cont">
                                            <div class="elven-col-a">
                                                <div class="eleven-top">Half day Application</div>
                                                <div class="eleven-mid">Wed,16 Dec</div>
                                                <div class="eleven-bottom-cx"> Sick</div>
                                            </div>
                                            <div class="eleven-col-b">
                                                <div class="eleven-ax-a">
                                                    Approved
                                                </div>
                                                <div class="eleven-bx"><i class="fa-solid fa-chevron-right"></i></div>
                                            </div>
                                        </div>
                                        <div class="eleven-cont">
                                            <div class="elven-col-a">
                                                <div class="eleven-top">Half day Application</div>
                                                <div class="eleven-mid">Wed,16 Dec</div>
                                                <div class="eleven-bottom-cz"> Casual</div>
                                            </div>
                                            <div class="eleven-col-b">
                                                <div class="eleven-ax-b">
                                                    Declined
                                                </div>
                                                <div class="eleven-bx"><i class="fa-solid fa-chevron-right"></i></div>
                                            </div>
                                        </div>
                                        <div class="eleven-cont">
                                            <div class="elven-col-a">
                                                <div class="eleven-top">Half day Application</div>
                                                <div class="eleven-mid">Wed,16 Dec</div>
                                                <div class="eleven-bottom"> Casual</div>
                                            </div>
                                            <div class="eleven-col-b">
                                                <div class="eleven-ax">
                                                    Awaiting
                                                </div>
                                                <div class="eleven-bx"><i class="fa-solid fa-chevron-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="group ten" style="overflow:hidden;">
                                    <img src="images/image 38.jpg" alt="" style="width:100%;">
                                    <div style="width:100%;" id="div11">
                                        <marquee scrollamount="5" direction="up" id="marque">
                                            <ul id="marqueecontent">
                                            </ul>
                                        </marquee>


                                    </div>
                                </div>
                            </div>


                        </div>
                        <br>
                        <br>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <script>
        var marqueecontent = document.getElementById("marqueecontent");
        var application = document.getElementById("application");
        var marque = document.getElementById("marque");
        marque.style.height = application.offsetHeight + "px";
        for (i = 1; i <= 100; i++) {
            var list = document.createElement("li");
            marqueecontent.appendChild(list);
            var text = document.createTextNode(" No updates What you PPL are actually doing Need to work hard");
            var font = document.createElement("font");
            font.id = "update" + i;
            font.appendChild(text);
            list.appendChild(font);

        }

        var width = window.screen.availWidth;
        var navbar = document.getElementById("navbar");
        var content = document.getElementById("content");
        var maincont = document.getElementById("maincont");
        var content_row = document.getElementById("content_row");
        if (width <= 1000) {
            navbar.style.left = "-50%";
            content.style.width = "100%";
            content.style.left = 0;
        }




        var theme = document.getElementById("theme");
        var a = 0;
        theme.addEventListener("click", () => {
            if (a % 2 == 0) {
                theme.style.color = "white";
                navbar.style.backgroundColor = "#292f45";
                content.style.backgroundColor = "#161d30";
                content_row.style.backgroundColor = "#161d30";
                for (i = 1; i <= 12; i++) {
                    document.getElementById("div" + i).style.background = "#292f45";
                    document.getElementById("div" + i).style.color = "white";
                }
                for (x = 1; x <= 7; x++) {
                    document.getElementById("navbt" + x).style.background = "#292f45";
                    document.getElementById("transfer_title").style.background = "#38405e";
                }
                document.getElementById("attendencegraph").style.background = "#292f45";
                for (x = 1; x <= 3; x++) {
                    document.getElementById("transferbt" + x).style.background = "#292f45";
                    document.getElementById("training" + x).style.background = "#38405e";
                    document.getElementById("training" + x).style.border = "1px solid #7363EA";
                    document.getElementById("training" + x).style.color = "white";
                }
                document.getElementById("calender").style.color = "white";
                document.getElementById("calender_dt").style.color = "white";
                for (x = 1; x <= 100; x++) {
                    document.getElementById("update" + x).style.color = "white";
                }
            }
            else {
                theme.style.color = "black";
                navbar.style.backgroundColor = "white";
                content.style.backgroundColor = "#f2f2f2";
                content_row.style.backgroundColor = "none";
                for (i = 1; i <= 12; i++) {
                    document.getElementById("div" + i).style.background = "white";
                    document.getElementById("div" + i).style.color = "black";
                }
                for (x = 1; x <= 7; x++) {
                    document.getElementById("navbt" + x).style.background = "white";
                    document.getElementById("transfer_title").style.background = "#f5f5f5";
                }
                document.getElementById("attendencegraph").style.background = "white";
                for (x = 1; x <= 3; x++) {
                    document.getElementById("transferbt1").style.background = "white";
                    document.getElementById("transferbt2").style.background = "white";
                    document.getElementById("transferbt3").style.background = "#FF3A3A";
                    document.getElementById("training" + x).style.background = "#f5f5f5";
                    document.getElementById("training" + x).style.border = "none";
                    document.getElementById("training" + x).style.color = "black";
                }
                document.getElementById("calender").style.color = "black";
                document.getElementById("calender_dt").style.color = "black";
                for (x = 1; x <= 100; x++) {
                    document.getElementById("update" + x).style.color = "black";
                }
            }
            a++;
        })






    </script>
</body>

</html>