<form action="/client/leave">
                                    <div class="group nine" id="div10">
                                        <h6 class="nine_Title"> Apply for leaves </h6>
                                        <p id="nine_Sub_title"> You have <span style="color: #7363EA ;">7.5 and 1
                                                optional</span> leave for this month </p>
                                        <br>
                                        <div class="nine-second-main">
                                            <div class="nine_row1">
                                                <div class="Seven_column_1">
                                                    <div class="radio-nine-cont-1">
                                                        <h6 id="nine_col1">LEAVE TYPE</h6>
                                                        <label class="label-radio3" for="radio1">
                                                            <input class="input-radio3" id="radio1" type="radio"
                                                                name="choice" value="say-hi" checked="checked">
                                                            LEAVE
                                                        </label>
                                                        <label class="label-radio3" for="radio2"></label>
                                                        <input class="input-radio3" id="radio2" type="radio"
                                                            name="choice" value="get-quote">
                                                        OPTIONAL
                                                        </label>
                                                    </div>
                                                    <br>

                                                    <h6> FROM</h6>
                                                    <input type="date" name="Start date" placeholder="Select Date Start"
                                                        required>

                                                </div>
                                                <div class="nine_column_2">
                                                    <div class="radio-nine-cont-2">
                                                        <h6 id="nine_col1"> DAY TYPE</h6>
                                                        <label class="label-radio" for="radio1">
                                                            <input class="input-radio3" id="radio1" type="radio"
                                                                name="choice" value="say-hi" checked="checked">
                                                            FULL
                                                        </label>&nbsp;
                                                        <label class="label-radio" for="radio2">
                                                            <input class="input-radio3" id="radio2" type="radio"
                                                                name="choice" value="get-quote">
                                                            FIRST HALF
                                                        </label>&nbsp;
                                                        <label class="label-radio" for="radio3">
                                                            <input class="input-radio3" id="radio3" type="radio"
                                                                name="choice" value="get-quote">
                                                            SECOND HALF
                                                        </label>
                                                    </div>
                                                    <br>

                                                    <h6> TO</h6>
                                                    <input type="date" name="Start date" placeholder="Select End Date "
                                                        required>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="nine_inform">
                                                <h6>I want to inform</h6>
                                                <div class="nine_row2">
                                                    <div class="nine_col11">Department <br>
                                                        Supervisor</div>
                                                    <div class="nine_col12">
                                                        <input type="text" name="Department" placeholder=" Primary "
                                                            class="nine_text1" required><br>
                                                        <input type="text" name="Supervisor"
                                                            placeholder="Type your supervisor’s name" class="nine_text1"
                                                            required>
                                                    </div>
                                                </div>
                                                <br>
                                                <h6>Reason</h6>
                                                <textarea name="" id="" cols="52" rows="3"
                                                    placeholder="Type your reason here"></textarea>
                                            </div>
                                            <br>
                                            <button id="nine_buton">Apply Leave</button> &nbsp;
                                            <button id="nine_buton2">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>