<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/teacher/register.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #7A97FF;width: 95%;  font-family: 'Poppins', sans-serif;
margin-left: 40px;">
    <div class="container-fluid" style="background-color: #fff; height:100%; width : 100%;">
        <div class="row">
            <div class="group" style="width: 80%; height : 700px">
                <div class="main_row">
                    <div class="col_left">
                        <div class="left_cont">
                            <div class="left-nav">
                                <img src="logo (1).png" height="60" width="60"><h6 class="nav-line"> Don't have any account? <button class="nav-button"> Log in </button> </h6>
                            </div>
                            <div class="left-head">
                                <h1>Create your free account</h1>
                            </div>
                            <div class="left-box">
                                <div class="left-box-line">
                                    <h6>Full name</h6>
                                    <input type="text" class="left-text" placeholder="Your name">
                                </div>
                                <div class="left-box-line">
                                    <h6>Email address</h6>
                                    <input type="text" class="left-text" placeholder="Example@gmail.com">
                                </div>
                                <div class="left-box-line">
                                    <h6>Password</h6>
                                    <input type="password" class="left-text" placeholder="Enter Password">
                                </div>
                            </div>
                            <div class="left-button">
                                <button class="left-buttAx">
                                    Create your account
                                </button>
                                <h5 class="left-or">OR</h5>
                                <button class="left-buttAx">
                                    <i class="fa-brands fa-google"></i>  Sign with google
                                </button>
                            </div>
                            <div class="left-foot">
                                <p class="left-foot-line">By signing up, you agree to our communications and usage 
                                terms.  Already have an account? <a href="#">Sign in</a> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col_right">
                        <div class="right_cont">
                            <div class="extra"></div>
                            <div class="right-img">
                                <img src="image 10.png" width="685" height="600" class="img-Ax">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>