<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/teacher/timeline.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/577ae30e95.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="main-title">Service Span</div>
    <div class="wrapper">
        <div class="center-line">
            <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-rocket"></i>
                <div class="details">
                    <span class="title">Served from</span>
                    <span>Oct 2012 - Dec 2029</span>
                </div>
                <div class="mid-school">
                    <div class="icon-school"><i class="fa-solid fa-school-flag"></i></div>
                    <div class="school-text"> ABC PUBLIC SCHOOL,<span class="pune-color"> PUNE</span></div>
                </div>
                <div class="bottom" id="butt">
                    <a href="#">View detailed analytics</a>
                    
                </div>
                <div class="foot">
                    <div class="foot-title"> Service span</div>
                    <div class="time"> 2.5 Years</div>
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-rocket"></i>
                <div class="details">
                    <span class="title">Served from</span>
                    <span>Oct 2012 - Dec 2029</span>
                </div>
                <div class="mid-school">
                    <div class="icon-school"><i class="fa-solid fa-school-flag"></i></div>
                    <div class="school-text"> ABC PUBLIC SCHOOL,<span class="pune-color"> PUNE</span></div>
                </div>
                <div class="bottom" id="butt">
                    <a href="#">View detailed analytics</a>
                    
                </div>
                <div class="foot">
                    <div class="foot-title"> Service span</div>
                    <div class="time"> 2.5 Years</div>
                </div>
            </section>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-rocket"></i>
                <div class="details">
                    <span class="title">Served from</span>
                    <span>Oct 2012 - Dec 2029</span>
                </div>
                <div class="mid-school">
                    <div class="icon-school"><i class="fa-solid fa-school-flag"></i></div>
                    <div class="school-text"> ABC PUBLIC SCHOOL,<span class="pune-color"> PUNE</span></div>
                </div>
                <div class="bottom" id="butt">
                    <a href="#">View detailed analytics</a>
                    
                </div>
                <div class="foot">
                    <div class="foot-title"> Service span</div>
                    <div class="time"> 2.5 Years</div>
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-rocket"></i>
                <div class="details">
                    <span class="title">Served from</span>
                    <span>Oct 2012 - Dec 2029</span>
                </div>
                <div class="mid-school">
                    <div class="icon-school"><i class="fa-solid fa-school-flag"></i></div>
                    <div class="school-text"> ABC PUBLIC SCHOOL,<span class="pune-color"> PUNE</span></div>
                </div>
                <div class="bottom" id="butt">
                    <a href="#">View detailed analytics</a>
                    
                </div>
                <div class="foot">
                    <div class="foot-title"> Service span</div>
                    <div class="time"> 2.5 Years</div>
                </div>
            </section>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-rocket"></i>
                <div class="details">
                    <span class="title">Served from</span>
                    <span>Oct 2012 - Dec 2029</span>
                </div>
                <div class="mid-school">
                    <div class="icon-school"><i class="fa-solid fa-school-flag"></i></div>
                    <div class="school-text"> ABC PUBLIC SCHOOL,<span class="pune-color"> PUNE</span></div>
                </div>
                <div class="bottom" id="butt">
                    <a href="#">View detailed analytics</a>
                    
                </div>
                <div class="foot">
                    <div class="foot-title"> Service span</div>
                    <div class="time"> 2.5 Years</div>
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-rocket"></i>
                <div class="details">
                    <span class="title">Served from</span>
                    <span>Oct 2012 - Dec 2029</span>
                </div>
                <div class="mid-school">
                    <div class="icon-school"><i class="fa-solid fa-school-flag"></i></div>
                    <div class="school-text"> ABC PUBLIC SCHOOL,<span class="pune-color"> PUNE</span></div>
                </div>
                <div class="bottom" id="butt">
                    <a href="#">View detailed analytics</a>
                    
                </div>
                <div class="foot">
                    <div class="foot-title"> Service span</div>
                    <div class="time"> 2.5 Years</div>
                </div>
            </section>
        </div>
    </div>


</body>

</html>